<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="FATAL" strict="true">
	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT" direct="true">
			<ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
      		<PatternLayout pattern="%msg%n"/>
  		</Console>
		<Console name="VCONSOLE" target="SYSTEM_OUT" direct="true">
      		<PatternLayout pattern="{%T} %d{HH:mm:ss.SSS} %msg%n"/>
  		</Console>
		<File name="FILE" fileName="/tmp/coastal.log" append="false">
      		<PatternLayout pattern="{%T} %d{HH:mm:ss.SSS} %msg%n"/>
		</File>
	</Appenders>
	<Loggers>
		<Logger name="GREEN" level="ALL" additivity="false"/>
		<!--
		<Logger name="GREEN" level="ALL">
			<AppenderRef ref="FILE"/>
		</Logger>
		-->
		<Logger name="COASTAL-TEST" level="ALL" additivity="false"/>
		<Logger name="COASTAL-BRIEF" level="ALL" additivity="false"/>
		<Logger name="COASTAL-QUIET" level="ALL" additivity="false">
			<AppenderRef ref="CONSOLE"/>
		</Logger>
		<Logger name="COASTAL-PROLIX" level="ALL" additivity="false">
			<AppenderRef ref="VCONSOLE"/>
			<AppenderRef ref="FILE"/>
		</Logger>
   		<Root level="ALL">
			<AppenderRef ref="CONSOLE"/>
			<AppenderRef ref="FILE"/>
		</Root>
	</Loggers>
</Configuration>
