section.api {
	h2.title {
		font-size: 2rem;
		line-height: 2.5rem;
	}
	h3 {
		font-size: 1.5rem;
		line-height: 2rem;
		margin-top: 2rem;
	}
	ul.blockList {
		margin: 0;
		padding: 0;
		list-style: none;
		li.blockList {
			margin: 0;
			padding: 0;
		}
	}
	ul.inheritance {
		font-family: $ds-monospace-font-family;
		font-size: .9rem;
		margin: 0;
		padding: 0 0 2rem 0;
		list-style: none;
		ul.inheritance {
			padding: 0 0 0 2rem;
		}
		li {
			margin: 0;
			padding: 0;
		}
	}
	div.description {
		dl {
			font-size: .9rem;
			dt {
				font-weight: 600;
			}
		}
	}
	table.overviewSummary,
	table.typeSummary {
		margin-top: 2rem;
		margin-bottom: 3rem;
		width: 100%;
		font-size: 0.9rem;
		color: $ds-packagelist-fg-color;
		background-color: $ds-packagelist-bg-color;
		border: 1px solid $ds-packagelist-border-color;
		caption {
			display: none;
		}
		th {
			text-align: left;
			font-weight: 600;
			color: $ds-packagelist-caption-fg-color;
			background-color: $ds-packagelist-caption-bg-color;
			padding: .2rem 0 .2rem .2rem;
		}
		tr.rowColor {
			background-color: $ds-packagelist-oddrow-bg-color;
		}
		td {
			padding: .2rem 0 .2rem .2rem;
			&.colFirst {
				font-family: $ds-monospace-font-family;
				width: 33%;
			}
		}
	}
}
