* {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	line-height: inherit;
	text-decoration: inherit;
	word-wrap: break-word;
}

html {
	font-family: $c-font-family;
	font-size: $c-font-size;
	line-height: $c-line-height;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	position: relative;
	line-height: inherit;
}

a.anchor {
	margin-top: -5rem; 
	padding-top: 5rem; 
	display: inline-block;
}

.wrapper {
	width: 85rem;
	// width: 57rem;
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	line-height: 1.25;
	margin-bottom: 1rem;
	margin-top: 1.5rem;
}

section.main {
	h1, h2, h3, h4, h5, h6 {
		margin-top: -3.5rem;
		padding-top: 5rem;
	}

	> h1:first-child,
	> h2:first-child,
	> h3:first-child,
	> h4:first-child,
	> h5:first-child,
	> h6:first-child {
		margin-top: 1.5rem;
		padding-top: 0;
	}
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.25rem;
}

p {
	margin-bottom: 1rem;
}

ol {
	list-style: decimal outside none;
	margin-bottom: 1rem;
	padding-left: 2rem;
}

ul {
	list-style: square outside none;
	margin-bottom: 1rem;
	padding-left: 2rem;
}

em {
	font-style: italic;
}

.clearfix {
	clear: both;
	height: 0px;
}
