footer {
	color: $c-footer-fg-color;
	background-color: $c-footer-bg-color;
	font-size: 0.93rem;
	font-weight: 400;
	line-height: 1.5rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    position: relative;

    .wrapper {
    	width: 70rem;
    	margin-bottom: 3rem;
		display: flex;
		justify-content: space-between;

		.footerbox {
			flex: 2;
			padding-right: 1rem;

			svg {
				height: 3rem;
			}

			h2 {
				color: #ffffff;
				font-size: $c-footer-font-size;
				margin: 0 0 0.625rem;
			}

			a {
				color: inherit;
				display: block;
				line-height: 1.5rem;

				&:hover {
					color: #ffffff;
				}
			}

			p {
				font-size: inherit;

				a {
					display: inline;
					color: #ffffff;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			&.narrow {
				flex: 1;
			}

			&.wide {
				flex: 4;
			}
		}
    }
}
