header {
	width: 100%;
	height: 2rem;
	padding: 0.5rem 0;
	position: fixed;
	z-index: 999;
	background-color: $c-header-bg-color;

	.wrapper {
		display: flex;
		flex-direction: row;
		position: relative;

		a {
			display: inline-flex;
			align-items: center;
			color: $c-header-fg-color;
			height: 2rem;
			position: relative;

			svg {
				position: absolute;
				left: 0;
				top: 0;
				height: 2rem;
				max-height: 2rem;
				margin-right: 0.6rem;
			}

			h1, h2 {
				display: inline;
				line-height: 2rem;
				margin: 0;
			}

			h1 {
				font-size: 1.24rem;
				margin-left: 2.7rem;
			}

			h2 {
				font-size: 1rem;
				margin-left: 0.5rem;
				text-decoration: underline;
			}		
		}

		nav {
			display: inline-flex;
			margin-left: auto;

			a {
				padding: 0 0.5rem;
				color: $c-header-nav-fg-color;
			}

			a:hover {
				color: $c-header-nav-hover-fg-color;
			}
		}
	}
}

/*----------------------------------------------------------------------

	padding: 0.5rem;
	// display: flex;
	// flex-grow: 1;

	a {
		border: 0;
		color: #ffffff;
		display: inline;
		// flex-flow: row nowrap;
		height: 2.125rem;
		z-index: 10000;

		h1 {
			display: inline;
			font-size: 1.25rem;
			line-height: 1.25rem;
			margin: 0;
			position: relative;
		}

		h2 {
			display: inline;
			font-size: 1rem;
			line-height: 1.25rem;
			text-decoration: underline;
		}
	}

	box-sizing: border-box;
	box-shadow: 0 1px 0 0 $ds-header-border-color;
	a {
		color: $ds-link-fg-color;
		text-decoration: none;
		&:hover {
			color: $ds-link-fg-color;
			text-decoration: none;
		}
	}
	h1 {
		display: inline-flex;
		position: relative;
		font-size: 1.2rem;
		line-height: 3.75rem;
		margin: 0;
		padding: 0 1.5rem;
		justify-content: center;
		color: $ds-header-h1-color;
	}
	nav {
		font-family: $ds-nav-font-family;
		font-weight: 600;
		display: flex;
		flex-grow: 1;
		a {
			display: flex;
			flex-direction: row;
			text-decoration: none;
			font-size: 0.8125rem;
			font-weight: 600;
			line-height: 3.75rem;
			margin: 0;
			padding: 0 1.5rem;
			color: $ds-header-link-color;
			&:hover {
				background-color: $ds-header-hover-color;
				color: $ds-header-link-color;
				text-decoration: none;
			}
			&.active {
				background-color: $ds-header-active-color;
			}
		}
	}
}
*/
