@font-face {
    font-family: "opensans";
    src: url($site_baseurl + "/assets/fonts/opensans/OpenSans-Light.eot"),
         url($site_baseurl + "/assets/fonts/opensans/OpenSans-Light.woff") format("woff"),
         url($site_baseurl + "/assets/fonts/opensans/OpenSans-Light.ttf") format("truetype"),
         url($site_baseurl + "/assets/fonts/opensans/OpenSans-Light.svg#OpenSans-Light") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "opensans";
    src: url($site_baseurl + "/assets/fonts/opensans/OpenSans-LightItalic.eot"),
         url($site_baseurl + "/assets/fonts/opensans/OpenSans-LightItalic.woff") format("woff"),
         url($site_baseurl + "/assets/fonts/opensans/OpenSans-LightItalic.ttf") format("truetype"),
         url($site_baseurl + "/assets/fonts/opensans/OpenSans-LightItalic.svg#OpenSansLight-Italic") format("svg");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "opensans";
    src: url($site_baseurl + "/assets/fonts/opensans/OpenSans-Regular.eot"),
         url($site_baseurl + "/assets/fonts/opensans/OpenSans-Regular.woff") format("woff"),
         url($site_baseurl + "/assets/fonts/opensans/OpenSans-Regular.ttf") format("truetype"),
         url($site_baseurl + "/assets/fonts/opensans/OpenSans-Regular.svg#OpenSans") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "opensans";
    src: url($site_baseurl + "/assets/fonts/opensans/OpenSans-Italic.eot"),
         url($site_baseurl + "/assets/fonts/opensans/OpenSans-Italic.woff") format("woff"),
         url($site_baseurl + "/assets/fonts/opensans/OpenSans-Italic.ttf") format("truetype"),
         url($site_baseurl + "/assets/fonts/opensans/OpenSans-Italic.svg#OpenSans-Italic") format("svg");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "opensans";
    src: url($site_baseurl + "/assets/fonts/opensans/OpenSans-Semibold.eot"),
         url($site_baseurl + "/assets/fonts/opensans/OpenSans-Semibold.woff") format("woff"),
         url($site_baseurl + "/assets/fonts/opensans/OpenSans-Semibold.ttf") format("truetype"),
         url($site_baseurl + "/assets/fonts/opensans/OpenSans-Semibold.svg#OpenSans-Semibold") format("svg");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "opensans";
    src: url($site_baseurl + "/assets/fonts/opensans/OpenSans-SemiboldItalic.eot"),
         url($site_baseurl + "/assets/fonts/opensans/OpenSans-SemiboldItalic.woff") format("woff"),
         url($site_baseurl + "/assets/fonts/opensans/OpenSans-SemiboldItalic.ttf") format("truetype"),
         url($site_baseurl + "/assets/fonts/opensans/OpenSans-SemiboldItalic.svg#OpenSans-SemiboldItalic") format("svg");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "opensans";
    src: url($site_baseurl + "/assets/fonts/opensans/OpenSans-Bold.eot"),
         url($site_baseurl + "/assets/fonts/opensans/OpenSans-Bold.woff") format("woff"),
         url($site_baseurl + "/assets/fonts/opensans/OpenSans-Bold.ttf") format("truetype"),
         url($site_baseurl + "/assets/fonts/opensans/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "opensans";
    src: url($site_baseurl + "/assets/fonts/opensans/OpenSans-BoldItalic.eot"),
         url($site_baseurl + "/assets/fonts/opensans/OpenSans-BoldItalic.woff") format("woff"),
         url($site_baseurl + "/assets/fonts/opensans/OpenSans-BoldItalic.ttf") format("truetype"),
         url($site_baseurl + "/assets/fonts/opensans/OpenSans-BoldItalic.svg#OpenSans-BoldItalic") format("svg");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "opensans";
    src: url($site_baseurl + "/assets/fonts/opensans/OpenSans-ExtraBold.eot"),
         url($site_baseurl + "/assets/fonts/opensans/OpenSans-ExtraBold.woff") format("woff"),
         url($site_baseurl + "/assets/fonts/opensans/OpenSans-ExtraBold.ttf") format("truetype"),
         url($site_baseurl + "/assets/fonts/opensans/OpenSans-ExtraBold.svg#OpenSans-ExtraBold") format("svg");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "opensans";
    src: url($site_baseurl + "/assets/fonts/opensans/OpenSans-ExtraBoldItalic.eot"),
         url($site_baseurl + "/assets/fonts/opensans/OpenSans-ExtraBoldItalic.woff") format("woff"),
         url($site_baseurl + "/assets/fonts/opensans/OpenSans-ExtraBoldItalic.ttf") format("truetype"),
         url($site_baseurl + "/assets/fonts/opensans/OpenSans-ExtraBoldItalic.svg#OpenSans-ExtraBoldItalic") format("svg");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "opensans";
    src: url($site_baseurl + "/assets/fonts/opensans/OpenSans-CondLight.eot"),
         url($site_baseurl + "/assets/fonts/opensans/OpenSans-CondLight.woff") format("woff"),
         url($site_baseurl + "/assets/fonts/opensans/OpenSans-CondLight.ttf") format("truetype"),
         url($site_baseurl + "/assets/fonts/opensans/OpenSans-CondLight.svg#OpenSans-CondensedLight") format("svg");
    font-weight: 300;
    font-style: normal;
    font-stretch: condensed;
}

@font-face {
    font-family: "opensans";
    src: url($site_baseurl + "/assets/fonts/opensans/OpenSans-CondLightItalic.eot"),
         url($site_baseurl + "/assets/fonts/opensans/OpenSans-CondLightItalic.woff") format("woff"),
         url($site_baseurl + "/assets/fonts/opensans/OpenSans-CondLightItalic.ttf") format("truetype"),
         url($site_baseurl + "/assets/fonts/opensans/OpenSans-CondLightItalic.svg#OpenSans-CondensedLightItalic") format("svg");
    font-weight: 300;
    font-style: italic;
    font-stretch: condensed;
}

@font-face {
    font-family: "opensans";
    src: url($site_baseurl + "/assets/fonts/opensans/OpenSans-CondBold.eot"),
         url($site_baseurl + "/assets/fonts/opensans/OpenSans-CondBold.woff") format("woff"),
         url($site_baseurl + "/assets/fonts/opensans/OpenSans-CondBold.ttf") format("truetype"),
         url($site_baseurl + "/assets/fonts/opensans/OpenSans-CondBold.svg#OpenSans-CondensedBold") format("svg");
    font-weight: 700;
    font-style: normal;
    font-stretch: condensed;
}
