main {
	.content {
		.wrapper {
			section.toc {
				flex-basis: 15rem;
				flex-grow: 0;
				flex-shrink: 0;
				font-size: $c-toc-font-size;
				line-height: $c-toc-line-height;
				margin-left: 3rem;
				padding-left: 1rem;
				position: sticky;
				top: 5.625rem;
				align-self: flex-start;
				color: $c-toc-fg-color;

				ul {
					list-style-type: none;
					margin: 0;
					padding: 0;
				}

				> ul {
					border-left: 1px solid $c-toc-border-color;
					padding: 0.625rem 0 0.125rem 0.9375rem;

					a {
						color: inherit;
					}

					> li {
						padding-bottom: 0.5rem;

						> ul {
							padding: 0.5rem 0 0 1.25rem;

							> li {
								padding-bottom: 0.5rem;
							}

							> li + li {
								margin-top: 0.1875rem;
							}
						}
					}

					> li + li {
						margin-top: 0.1875rem;
					}
				}
			}
		}
	}
}
