$ds-font-family: 'Roboto', sans-serif;
$ds-font-size: 16px;
$ds-line-height: 1.6;
$ds-link-fg-color: #0066aa;
// $ds-link-fg-color: #4a6782;
$ds-link-hover-fg-color: #0099ff;

$ds-header-bg-color: #ffffff;
$ds-header-border-color: rgba(0, 0, 0, 0.066);
$ds-header-link-color: #000000;
$ds-header-hover-color: #f3f3f3;
$ds-header-active-color: #e1effa;
// $ds-header-active-color: #a1d3fa;
$ds-header-h1-color: #2196f3;

$ds-monospace-font-family: 'Fira Mono', monospace;

$ds-nav-font-family: 'Roboto', sans-serif;

$ds-heading-font-family: 'Overpass', sans-serif;

$ds-main-bg-color: #fcfcfc;
$ds-main-fg-color: #393939;
$ds-main-hx-fg-color: #000000;

$ds-post-date-font-size: .85rem;

$ds-quotation-font-size: .9rem;

$ds-section-vpadding: 2rem;
$ds-section-lpadding: 12rem;
$ds-section-rpadding: 10rem;
$ds-section-gray-bg-color: #989fce;
$ds-section-pre-bg-color: #ebf4fa;
$ds-section-pre-font-family: $ds-monospace-font-family;
$ds-section-code-font-family: $ds-monospace-font-family;

// $ds-section-pre-bg-color: #d4eafa;
$ds-footer-fg-color: #ffffff;
$ds-footer-bg-color: #2196f3;
$ds-footer-link-color: #e0e0e0;
$ds-footer-vpadding: 1.5rem;
$ds-footer-lpadding: $ds-section-lpadding;
$ds-footer-rpadding: $ds-section-rpadding;

$ds-packagelist-fg-color: $ds-main-fg-color;
$ds-packagelist-bg-color: #ffffff;
$ds-packagelist-border-color: rgba(0, 0, 0, 0.066);
$ds-packagelist-caption-fg-color: #000000;
$ds-packagelist-caption-bg-color: #89c4f3;
// $ds-packagelist-caption-bg-color: #e18d15;
$ds-packagelist-oddrow-bg-color: #eeeeef;

